<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>My Category List</title>
  <th:block th:replace="layout :: link-css"></th:block>
  <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1 th:text="${title}"></h1>
  <input type="text" id="searchInput" placeholder="Search category by name...">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
    <tr th:each="category : ${categories}" class="category">
      <td th:text="${category.id}"></td>
      <td th:text="${category.name}"></td>
      <td>
        <a th:href="@{/categories/edit/{id}(id=${category.id})}">Edit</a> |
        <a th:href="@{/categories/delete/{id}(id=${category.id})}" onclick="return confirm('Are you sure?')">Delete</a>
      </td>
    </tr>
  </table>
</div>
<th:block th:replace="layout :: footer"></th:block>
<script>
        const searchInput = document.getElementById('searchInput');
        const categories = document.querySelectorAll('.category');

        searchInput.addEventListener('input', function (event) {
            const searchText = event.target.value.toLowerCase();

            categories.forEach(function (category) {
                const name = category.querySelector('td:nth-child(2)').textContent.toLowerCase();

                if (name.includes(searchText)) {
                    category.classList.remove('hidden');
                } else {
                    category.classList.add('hidden');
                }
            });
        });
    </script>
</body>

</html>
